<div [ngClass]="{'list-group-item': true,
'list-group-item-success': loveIts >0 ,
'list-group-item-danger': loveIts < 0}">

    <div class="media text-muted pt-3">
        <p class="media-body pb-3 mb-0 small lh-125">
            <span class="d-block">
          <strong class="h3 text-left"> {{ title }} </strong>
          <br>
        </span> {{ content }}
        </p>
        <span class="h6 text-right pt-1.2">{{ created_at | date: 'short' }}</span>
        <div style="margin-top: 10px;">
            <button type="button" class="btn btn-success" style="margin-right: 10px;" (click)="onLoveIt()">
          <i class="far fa-thumbs-up"></i>Love It
        </button>
            <button ml-3 type="button" class="btn btn-danger" (click)="onDontLoveIt()">
          <i class="far fa-thumbs-down"></i>Don't Love It
        </button>

        </div>
        <br>
    </div>
</div>